@use '../abstracts/mixins' as mixins;

button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #7950f2;

  display: flex;
  align-items: center;
  gap: 10px;

  span {
    font-size: 16px;
    line-height: 1;
  }
}

.btn {
  @include mixins.flex(center);
}

.disabled-btn {
  background-color: #ccc;
  cursor: not-allowed;
}
