@use '../abstracts/mixins' as mixins;

.steps {
  width: 600px;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 100px;
  margin: 100px auto;

  .numbers {
    display: flex;
    justify-content: space-between;

    > div {
      height: 40px;
      aspect-ratio: 1;
      background-color: #e7e7e7;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
    }

    .active {
      background-color: #7950f2;
      color: #fff;
    }
  }

  .message {
    text-align: center;
    font-size: 20px;
    margin: 40px 0;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    @include mixins.flex(space-between);
  }
}
